@import "reset.css";
@import "setup.css";
@import "typography.css";
@import "../pages/styles/style.css";



/*push header and footer to bottom of page*/
body {
	display: flex;
	flex-direction: column;
	padding-bottom: 10vh;
}

main {
	flex-grow: 1;
	min-height:  100vh;
}

/*components*/
inner-column {
	display: block;
}

inner-column {
	padding:  10px;
	margin-right: auto;
	margin-left: auto;
	max-width: 700px;
	line-height: 1.6;
}

/*sections*/
main {
}

main inner-column {
	border-top:  4px solid red;
}

footer inner-column {
	border-top: 4px solid red;
}

